<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MultiUserAddressBookConnectionString" connectionString="data source=DESKTOP-8BGISE3\SQLEXPRESS01;initial catalog=MultiUserAddressBook;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" />
      <!--<httpRuntime maxRequestLength="1073741824" executionTimeout="3600" />-->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
          <!--50MB-->
        </requestFiltering>
      </security>
    </system.webServer>


</configuration>
